/* OVERLAY CONFIG */
/* WARNING: Do not change this unless you know what you're doing */

/* Variables */
:root {
  --game1-x: 0px;
  --game1-y: 0px;
  --game1-width: 1093px;
  --game1-height: 984px;

  --host1-x: 1117px;
  --host1-y: 532px;
  --host1-width: 803px;
  --host1-height: 452px;

  --social-width: 803px;
  --social-height: 508px;
}

/* Layout Path */
#container #background {
  clip-path: polygon(
    var(--game1-width) var(--game1-y),
    var(--game1-width) var(--game1-height),
    var(--game1-x) var(--game1-height),
    var(--game1-x) var(--overlay-height),
    var(--overlay-width) var(--overlay-height),
    var(--overlay-width) calc(var(--overlay-height) - var(--bottom-bar-height)),
    var(--host1-x) calc(var(--overlay-height) - var(--bottom-bar-height)),
    var(--host1-x) var(--host1-y),
    var(--overlay-width) var(--host1-y),
    var(--overlay-width) var(--game1-y)
  );
}

/* Host Name Positions & Dimensions */
#container #host1 {
  bottom: var(--bottom-bar-height);
  left: var(--host1-x);
  width: var(--host1-width);
  height: calc(var(--host1-height) / 5);
  font-size: calc(var(--info-box-height) / 2);
}

/* Info Boxes Position & Dimensions */
#container #info-boxes {
  left: calc(var(--game1-width) + var(--element-margin));
  bottom: calc(var(--bottom-bar-height) + var(--host1-height) + var(--element-margin));
  width: var(--host1-width);
  height: var(--info-box-height);
  overflow-y: visible;
}

/* Alerts & Chat Position & Dimensions */
#container #chat,
#container #alerts {
  top: var(--game1-y);
  left: calc(var(--game1-width) + var(--element-margin));
  width: var(--social-width);
}

#container #chat {
  height: calc(var(--social-height) - calc(var(--info-box-height) + var(--divider-height)));
}

#container #alerts {
  height: var(--social-height);
}

#container #social-background {
  display: flex;
  top: calc(var(--game1-y) + calc(var(--social-height) / 2));
  left: calc(calc(var(--game1-width) + var(--element-margin)) + calc(var(--social-width) / 2));
}
